<% provide(:title, 'Contact me') %>
<h1>Contact me</h1>
<p>
  This is the contact me page for the
  Contact Ruby on Rails Tutorial about the sample app at the
  <a href="http://railstutorial.org/contact">contact page</a>.

</p>

